<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procedural Ratings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<!-- Language switcher -->
<div class="language-switcher">
    <select id="language-switcher">
        <option value="ar">العربية</option>
        <option value="bn">বাংলা</option>
        <option value="zh">中文</option>
        <option value="en">English</option>
        <option value="fr">Français</option>
        <option value="de">Deutsch</option>
        <option value="hi">हिन्दी</option>
        <option value="ja">日本語</option>
        <option value="ru">Русский</option>
        <option value="es">Español</option>
        <option value="ur">اردو</option>
    </select>
</div>

<!-- Rating container -->
<div class="rating-container">
    <p>Not every patient can be treated in a medical emergency. There are procedures that can be used to determine which patients should be treated in such situations. In the following, please indicate how morally fair you find these procedures. </p>
    <p>Rating scale 1 (not fair at all) -> 6 (very fair) for each of the following procedures: </p>

    <!-- Question Block -->
    <form method="POST" action="/procedural-ratings">
        <input type="hidden" name="question_id" value="{{ question.id }}">
        <input type="hidden" name="current_index" value="{{ index }}">

        <div class="procedure-block">
            <label class="bold-text">{{ question.label }}</label>
            <div class="rating-scale">
                <span class="scale-label">Not fair at all</span>
                <div class="gradient-bar"></div> <!-- Gradient Bar -->
                <div class="scale-buttons">
                    {% for i in range(1, 7) %}
                        <label class="circle-btn">
                            <input type="radio" name="rating" value="{{ i }}" >
                            <div class="circle"></div>
                        </label>
                    {% endfor %}
                </div>
                <span class="scale-label">Very fair</span>
            </div>
        </div>

        <button type="submit" class="submit-btn">Next</button>
    </form>
</div>
</body>
</html>
