<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Submission</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body data-page="thank_you">
    <div class="thank-you-container">
        <h1 id="thank-you-title">Thank you for submitting your survey!</h1>
        <p id="thank-you-message">Your responses have been recorded. We appreciate your time and effort in helping us with this research.</p>
    </div>

    <script src="{{ url_for('static', filename='js/language.js') }}"></script>
</body>
</html>
